

<form id='entry' action="/create_reccomendation" method="post">
  <input type="text" name="contributor" placeholder="your name!">
  <input type="text" name="place" placeholder="place">
  <input type="text" name="notes" placeholder="add some notes">
  <input type="text" name="type_of_place" placeholder="type of place">
  <input type="submit" value="sumbit!">
</form>
